<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustormFont.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A836B11E1EA098AB00325C11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A836B1321EA098AC00325C11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A836B13D1EA098AC00325C11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
