<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Day3 - PlayLocalVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A836B1611EA0BADA00325C11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A836B1751EA0BADB00325C11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A836B1801EA0BADB00325C11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
